<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Table</title>
</head>
<body>
<h3>User's Table</h3>

<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempUser : ${usersForTable}">
        <td th:text="${tempUser.getLogin()}"></td>
        <td th:text="${tempUser.getFirstName()}"></td>
        <td th:text="${tempUser.getLastName()}"></td>
    </tr>
    </tbody>
</table>

<p>
    <a th:href="@{/users/adduser}">New User</a>
</p>

</body>
</html>